{%extends 'user_base.html'%}
<!-- extending template -->
{%load static%}
<!-- staiic loaded -->
{%block content%}
<style>
    .home-section {
        font-family: "Red Hat Text", sans-serif;
        /* background-image: url("{% static 'img/court.jpg' %}"); */
        /* background-repeat: no-repeat; */
    }
    
    .home-section h2 {
        position: relative;
        top: -450px;
        text-align: center;
        color: #022444;
        font-weight: 400;
    }
    
    .home-section h2 p {
        border: 2px solid #022444;
    }
    
    .home-section #first-text {
        position: relative;
        top: -440px;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: #022444;
    }
    
    @media only screen and (min-width: 1400px) {
        .home-section h2 {
            position: relative;
            top: -650px;
        }
        .home-section #first-text {
            position: relative;
            top: -655px;
        }
    }
</style>
<section class="home-section">
    <img class="img-fluid w-100" src="{% static 'img/court.jpg' %}" alt="">
    <div class="container">
        <h2>
            <p>Criminal Investigation Deparment</p>
        </h2>
        <p id="first-text">We stands for justice</p>
    </div>
</section>
<!-- block end -->
{%endblock%}
<!-- scripts are here -->
{%block script%}
<!-- endblock script -->
{%endblock%}